---
swagger: "2.0"
info:
  description: "\n# Welcome to CloudRanger\n\nHere are some instructions on  how to\
    \ use the API\n\n## Authentication and Authorization \n * Access to the API is\
    \ controlled by your API key generated in the CloudRanger dashboard and token\n\
    \ * The token is returned by calling the /authorize endpoint and supplying the\
    \ x-api-key header\n * All other calls use the x-api-key header and the Authorzation\
    \ header with Bearer followed by your token\n"
  version: "2018-05"
  title: "CloudRanger API"
host: "api.cloudranger.com"
basePath: "/201805"
tags:
- name: "Accounts"
  description: "Accounts in your CloudRanger Organization"
- name: "Backups"
  description: "Backups in your CloudRanger Account"
- name: "Servers"
  description: "Servers in your CloudRanger Account"
- name: "Restores"
  description: "Restores in your CloudRanger Account"
- name: "Policies"
  description: "Policies in your CloudRanger Account"
- name: "Organization"
  description: "Your CloudRanger Organization and how to authenticate API Calls"
- name: "Audits"
  description: "Audit entries in your CloudRanger Account"
- name: "AWS"
  description: "AWS Details of your CloudRanger Account"
- name: "Credential"
  description: "Credentials of your CloudRanger Account"
- name: "Globals"
  description: "Global search in your CloudRanger Account"
- name: "Jobs"
  description: "Jobs in your CloudRanger Account"
- name: "Logs"
  description: "Logs of your CloudRanger Account"
- name: "Members"
  description: "Members in your CloudRanger Account"
- name: "Schedules"
  description: "Schedules in your CloudRanger Account"
- name: "Search"
  description: "Search in your CloudRanger Account"
- name: "Synchronization"
  description: "Synchronization in your CloudRanger Account"
- name: "Volumes"
  description: "Volumes in your CloudRanger Account"
- name: "Weekly Savings"
  description: "Weekly Savings by your CloudRanger Account"
schemes:
- "https"
paths:
  /authorize:
    get:
      tags:
      - "Organization"
      description: "Use the API key to get your authenticaiton token"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Token"
      security:
      - api_key: []
    options:
      tags:
      - "Organization"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/empty"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /organizations/{organization_id}:
    get:
      tags:
      - "Organization"
      description: "Returns the details of the associated organization"
      produces:
      - "application/json"
      parameters:
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Organization"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "403 response"
          schema:
            $ref: "#/definitions/Error"
      security:
      - API_Authorizer: []
      - api_key: []
    put:
      tags:
      - "Organization"
      description: "Update organization details"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      - in: "body"
        name: "Organization"
        required: true
        schema:
          $ref: "#/definitions/Organization"
        x-exportParamName: "Organization"
      responses:
        204:
          description: "204 response"
          schema:
            $ref: "#/definitions/empty"
      security:
      - API_Authorizer: []
      - api_key: []
    options:
      tags:
      - "Organization"
      consumes:
      - "application/json"
      parameters:
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /organizations/{organization_id}/accounts:
    get:
      tags:
      - "Accounts"
      description: "Returns the account details of the associated organization"
      produces:
      - "application/json"
      parameters:
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Account"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "403 response"
          schema:
            $ref: "#/definitions/Error"
      security:
      - API_Authorizer: []
      - api_key: []
    post:
      tags:
      - "Accounts"
      description: "Creates the account ib the organization"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      - in: "body"
        name: "OrganizationAccountCreate"
        required: true
        schema:
          $ref: "#/definitions/OrganizationAccountCreate"
        x-exportParamName: "OrganizationAccountCreate"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Account"
      security:
      - API_Authorizer: []
    options:
      tags:
      - "Accounts"
      consumes:
      - "application/json"
      parameters:
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /organizations/{organization_id}/accounts/{account_id}:
    get:
      tags:
      - "Accounts"
      description: "Get account details of specific account"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Account"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "403 response"
          schema:
            $ref: "#/definitions/Error"
      security:
      - API_Authorizer: []
      - api_key: []
    put:
      tags:
      - "Accounts"
      description: "update account details of specific account"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      - in: "body"
        name: "Account"
        required: true
        schema:
          $ref: "#/definitions/Account"
        x-exportParamName: "Account"
      responses:
        204:
          description: "204 response"
          schema:
            $ref: "#/definitions/empty"
      security:
      - API_Authorizer: []
      - api_key: []
    delete:
      tags:
      - "Accounts"
      description: "Delete account details of specific account"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        204:
          description: "204 response"
      security:
      - API_Authorizer: []
      - api_key: []
    options:
      tags:
      - "Accounts"
      consumes:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /organizations/{organization_id}/accounts/{account_id}/audits:
    get:
      tags:
      - "Audits"
      description: "Get audit details of specific account"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Audit"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "403 response"
          schema:
            $ref: "#/definitions/Error"
      security:
      - API_Authorizer: []
      - api_key: []
    options:
      tags:
      - "Audits"
      consumes:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /organizations/{organization_id}/accounts/{account_id}/audits/count:
    get:
      tags:
      - "Audits"
      description: "Get audit count"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Count"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "403 response"
          schema:
            $ref: "#/definitions/Error"
      security:
      - API_Authorizer: []
      - api_key: []
    options:
      tags:
      - "Audits"
      consumes:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /organizations/{organization_id}/accounts/{account_id}/aws/regions:
    get:
      tags:
      - "AWS"
      description: "Get AWS region details of specific account"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Region"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "403 response"
          schema:
            $ref: "#/definitions/Error"
      security:
      - API_Authorizer: []
      - api_key: []
    options:
      tags:
      - "AWS"
      consumes:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /organizations/{organization_id}/accounts/{account_id}/aws/regions/{region}/azs:
    get:
      tags:
      - "AWS"
      description: "Get amazon availibility zone details of specific account"
      produces:
      - "application/json"
      parameters:
      - name: "region"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Region"
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/empty"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "403 response"
          schema:
            $ref: "#/definitions/Error"
      security:
      - API_Authorizer: []
      - api_key: []
    options:
      tags:
      - "AWS"
      consumes:
      - "application/json"
      parameters:
      - name: "region"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Region"
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /organizations/{organization_id}/accounts/{account_id}/aws/regions/{region}/securitygroups:
    get:
      tags:
      - "AWS"
      description: "Get amazon secutiy groups details of specific account"
      produces:
      - "application/json"
      parameters:
      - name: "region"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Region"
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/empty"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "403 response"
          schema:
            $ref: "#/definitions/Error"
      security:
      - API_Authorizer: []
      - api_key: []
    options:
      tags:
      - "AWS"
      consumes:
      - "application/json"
      parameters:
      - name: "region"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Region"
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /organizations/{organization_id}/accounts/{account_id}/aws/regions/{region}/sshkeys:
    get:
      tags:
      - "AWS"
      description: "Get amazon ssh keys details of specific account"
      produces:
      - "application/json"
      parameters:
      - name: "region"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Region"
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/SSHKey"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "403 response"
          schema:
            $ref: "#/definitions/Error"
      security:
      - API_Authorizer: []
      - api_key: []
    options:
      tags:
      - "AWS"
      consumes:
      - "application/json"
      parameters:
      - name: "region"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Region"
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /organizations/{organization_id}/accounts/{account_id}/aws/regions/{region}/subnets:
    get:
      tags:
      - "AWS"
      description: "get subnets details of specific account"
      produces:
      - "application/json"
      parameters:
      - name: "region"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Region"
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/empty"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "403 response"
          schema:
            $ref: "#/definitions/Error"
      security:
      - API_Authorizer: []
      - api_key: []
    options:
      tags:
      - "AWS"
      consumes:
      - "application/json"
      parameters:
      - name: "region"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Region"
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /organizations/{organization_id}/accounts/{account_id}/backups:
    get:
      tags:
      - "Backups"
      description: "Get backups details of specific account"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Backup"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "403 response"
          schema:
            $ref: "#/definitions/Error"
      security:
      - API_Authorizer: []
      - api_key: []
    options:
      tags:
      - "Backups"
      consumes:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /organizations/{organization_id}/accounts/{account_id}/backups/count:
    get:
      tags:
      - "Backups"
      description: "get backups count details of specific account"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/BackupsCount"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "403 response"
          schema:
            $ref: "#/definitions/Error"
      security:
      - API_Authorizer: []
      - api_key: []
    options:
      tags:
      - "Backups"
      consumes:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /organizations/{organization_id}/accounts/{account_id}/backups/count/tag:
    post:
      tags:
      - "Backups"
      description: "Get total count and already gone count for backups tag"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      - in: "body"
        name: "BackupsCountsTagRequest"
        required: true
        schema:
          $ref: "#/definitions/BackupsCountsTagRequest"
        x-exportParamName: "BackupsCountsTagRequest"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/CountTag"
        201:
          description: "201 response"
          schema:
            $ref: "#/definitions/empty"
      security:
      - API_Authorizer: []
      - api_key: []
    options:
      tags:
      - "Backups"
      consumes:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /organizations/{organization_id}/accounts/{account_id}/backups/tags/keys:
    get:
      tags:
      - "Backups"
      description: "Returns the tag keys for backups created by the given account\
        \ of the specific organization"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/TagsKey"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "403 response"
          schema:
            $ref: "#/definitions/Error"
      security:
      - API_Authorizer: []
      - api_key: []
    options:
      tags:
      - "Backups"
      consumes:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /organizations/{organization_id}/accounts/{account_id}/backups/tags/values:
    post:
      tags:
      - "Backups"
      description: "Get tags keys value details"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      - in: "body"
        name: "BackupsTagsValuesRequest"
        required: true
        schema:
          $ref: "#/definitions/BackupsTagsValuesRequest"
        x-exportParamName: "BackupsTagsValuesRequest"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/TagsValue"
        201:
          description: "201 response"
          schema:
            $ref: "#/definitions/empty"
      security:
      - API_Authorizer: []
      - api_key: []
    options:
      tags:
      - "Backups"
      consumes:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /organizations/{organization_id}/accounts/{account_id}/backups/{backup_id}:
    get:
      tags:
      - "Backups"
      description: "Returns the backup assciated with the given backup id"
      produces:
      - "application/json"
      parameters:
      - name: "backup_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "BackupId"
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/BackupDetailOne"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "403 response"
          schema:
            $ref: "#/definitions/Error"
      security:
      - API_Authorizer: []
      - api_key: []
    put:
      tags:
      - "Backups"
      description: "Updates the backup attributes of the given backup id"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "backup_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "BackupId"
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      - in: "body"
        name: "BackupDetailOne"
        required: true
        schema:
          $ref: "#/definitions/BackupDetailOne"
        x-exportParamName: "BackupDetailOne"
      responses:
        200:
          description: "200 response"
        204:
          description: "204 response"
          schema:
            $ref: "#/definitions/empty"
      security:
      - API_Authorizer: []
      - api_key: []
    delete:
      tags:
      - "Backups"
      description: "Deletes the backup with the given id"
      produces:
      - "application/json"
      parameters:
      - name: "backup_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "BackupId"
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/empty"
        204:
          description: "204 response"
      security:
      - API_Authorizer: []
      - api_key: []
    options:
      tags:
      - "Backups"
      consumes:
      - "application/json"
      parameters:
      - name: "backup_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "BackupId"
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /organizations/{organization_id}/accounts/{account_id}/backups/{backup_id}/amirestore:
    post:
      tags:
      - "Backups"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "backup_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "BackupId"
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      - in: "body"
        name: "AmiRestoreRequest"
        required: true
        schema:
          $ref: "#/definitions/AmiRestoreRequest"
        x-exportParamName: "AmiRestoreRequest"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/AmiRestore"
        201:
          description: "201 response"
          schema:
            $ref: "#/definitions/AmiRestore"
      security:
      - API_Authorizer: []
      - api_key: []
    options:
      tags:
      - "Backups"
      consumes:
      - "application/json"
      parameters:
      - name: "backup_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "BackupId"
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /organizations/{organization_id}/accounts/{account_id}/backups/{backup_id}/attachrestore:
    post:
      tags:
      - "Backups"
      produces:
      - "application/json"
      parameters:
      - name: "backup_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "BackupId"
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        201:
          description: "201 response"
          schema:
            $ref: "#/definitions/empty"
      security:
      - API_Authorizer: []
      - api_key: []
    options:
      tags:
      - "Backups"
      consumes:
      - "application/json"
      parameters:
      - name: "backup_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "BackupId"
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /organizations/{organization_id}/accounts/{account_id}/backups/{backup_id}/filerestore:
    post:
      tags:
      - "Backups"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "backup_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "BackupId"
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      - in: "body"
        name: "FileRestore"
        required: true
        schema:
          $ref: "#/definitions/FileRestore"
        x-exportParamName: "FileRestore"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Restore"
        201:
          description: "201 response"
          schema:
            $ref: "#/definitions/empty"
      security:
      - API_Authorizer: []
      - api_key: []
    options:
      tags:
      - "Backups"
      consumes:
      - "application/json"
      parameters:
      - name: "backup_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "BackupId"
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /organizations/{organization_id}/accounts/{account_id}/backups/{backup_id}/volumerestore:
    post:
      tags:
      - "Backups"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "backup_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "BackupId"
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      - in: "body"
        name: "VolumeRestore"
        required: true
        schema:
          $ref: "#/definitions/VolumeRestore"
        x-exportParamName: "VolumeRestore"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Restore"
        201:
          description: "201 response"
          schema:
            $ref: "#/definitions/empty"
      security:
      - API_Authorizer: []
      - api_key: []
    options:
      tags:
      - "Backups"
      consumes:
      - "application/json"
      parameters:
      - name: "backup_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "BackupId"
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /organizations/{organization_id}/accounts/{account_id}/credential:
    get:
      tags:
      - "Credential"
      description: "Returns the credentials of the given account"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Credential"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "403 response"
          schema:
            $ref: "#/definitions/Error"
      security:
      - API_Authorizer: []
      - api_key: []
    post:
      tags:
      - "Credential"
      description: "Updates the credentials of the given account"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      - in: "body"
        name: "CredentialsRequest"
        required: true
        schema:
          $ref: "#/definitions/CredentialsRequest"
        x-exportParamName: "CredentialsRequest"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Credential"
        201:
          description: "201 response"
          schema:
            $ref: "#/definitions/empty"
      security:
      - API_Authorizer: []
      - api_key: []
    put:
      tags:
      - "Credential"
      description: "Updates the credentials of the given account"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      - in: "body"
        name: "CredentialsRequest"
        required: true
        schema:
          $ref: "#/definitions/CredentialsRequest"
        x-exportParamName: "CredentialsRequest"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Credential"
        204:
          description: "204 response"
          schema:
            $ref: "#/definitions/empty"
      security:
      - API_Authorizer: []
      - api_key: []
    options:
      tags:
      - "Credential"
      consumes:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /organizations/{organization_id}/accounts/{account_id}/credential/refresh:
    post:
      tags:
      - "Credential"
      description: "Refreshes the permissions of a given account via cloud formation\
        \ script"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      - in: "body"
        name: "empty"
        required: true
        schema:
          $ref: "#/definitions/empty"
        x-exportParamName: "Empty"
      responses:
        201:
          description: "201 response"
          schema:
            $ref: "#/definitions/empty"
      security:
      - API_Authorizer: []
      - api_key: []
    options:
      tags:
      - "Credential"
      consumes:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /organizations/{organization_id}/accounts/{account_id}/credential/test:
    post:
      tags:
      - "Credential"
      description: "Checks whether Account Access Role ARN is configured"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      - in: "body"
        name: "empty"
        required: true
        schema:
          $ref: "#/definitions/empty"
        x-exportParamName: "Empty"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Credential"
        201:
          description: "201 response"
          schema:
            $ref: "#/definitions/empty"
      security:
      - API_Authorizer: []
      - api_key: []
    options:
      tags:
      - "Credential"
      consumes:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /organizations/{organization_id}/accounts/{account_id}/globals/search/{query}:
    get:
      tags:
      - "Globals"
      description: "Returns the result of the query after running the query"
      produces:
      - "application/json"
      parameters:
      - name: "query"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Query"
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/SearchQuery"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "403 response"
          schema:
            $ref: "#/definitions/Error"
      security:
      - API_Authorizer: []
      - api_key: []
    options:
      tags:
      - "Globals"
      consumes:
      - "application/json"
      parameters:
      - name: "query"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Query"
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /organizations/{organization_id}/accounts/{account_id}/jobs:
    get:
      tags:
      - "Jobs"
      description: "Returns the list of jobs associated to the given account"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Job"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "403 response"
          schema:
            $ref: "#/definitions/Error"
      security:
      - API_Authorizer: []
      - api_key: []
    options:
      tags:
      - "Jobs"
      consumes:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /organizations/{organization_id}/accounts/{account_id}/jobs/range/{min_seq}/{count}:
    get:
      tags:
      - "Jobs"
      description: "Returns the job list of count and range specified in the URL for\
        \ the given account"
      produces:
      - "application/json"
      parameters:
      - name: "count"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Count"
      - name: "min_seq"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "MinSeq"
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Job"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "403 response"
          schema:
            $ref: "#/definitions/Error"
      security:
      - API_Authorizer: []
      - api_key: []
    options:
      tags:
      - "Jobs"
      consumes:
      - "application/json"
      parameters:
      - name: "count"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Count"
      - name: "min_seq"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "MinSeq"
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /organizations/{organization_id}/accounts/{account_id}/jobs/search:
    post:
      tags:
      - "Jobs"
      description: "Returns the existing jobs of the given account"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      - in: "body"
        name: "JobSearchRequest"
        required: true
        schema:
          $ref: "#/definitions/JobSearchRequest"
        x-exportParamName: "JobSearchRequest"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Job"
        201:
          description: "201 response"
          schema:
            $ref: "#/definitions/empty"
      security:
      - API_Authorizer: []
      - api_key: []
    options:
      tags:
      - "Jobs"
      consumes:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /organizations/{organization_id}/accounts/{account_id}/jobs/tags/{tag_key}:
    get:
      tags:
      - "Jobs"
      description: "Returns the tag key of the specific job of the provided account"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "tag_key"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "TagKey"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/TagsKey"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "403 response"
          schema:
            $ref: "#/definitions/Error"
      security:
      - API_Authorizer: []
      - api_key: []
    options:
      tags:
      - "Jobs"
      consumes:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "tag_key"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "TagKey"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /organizations/{organization_id}/accounts/{account_id}/jobs/tags/{tag_key}/{tag_value}:
    get:
      tags:
      - "Jobs"
      description: "Returns the tag value of the tag key related to specific job of\
        \ the given account"
      produces:
      - "application/json"
      parameters:
      - name: "tag_value"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "TagValue"
      - name: "tag_key"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "TagKey"
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/TagsValue"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "403 response"
          schema:
            $ref: "#/definitions/Error"
      security:
      - API_Authorizer: []
      - api_key: []
    options:
      tags:
      - "Jobs"
      consumes:
      - "application/json"
      parameters:
      - name: "tag_value"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "TagValue"
      - name: "tag_key"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "TagKey"
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /organizations/{organization_id}/accounts/{account_id}/jobs/{job_id}:
    get:
      tags:
      - "Jobs"
      description: "Returns the job associated with the given job id of the provided\
        \ account"
      produces:
      - "application/json"
      parameters:
      - name: "job_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "JobId"
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "Returns a job by job id"
          schema:
            $ref: "#/definitions/Job"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "403 response"
          schema:
            $ref: "#/definitions/Error"
      security:
      - API_Authorizer: []
      - api_key: []
    options:
      tags:
      - "Jobs"
      consumes:
      - "application/json"
      parameters:
      - name: "job_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "JobId"
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /organizations/{organization_id}/accounts/{account_id}/jobs/{job_id}/logs:
    get:
      tags:
      - "Jobs"
      description: "Returns the logs of the given job"
      produces:
      - "application/json"
      parameters:
      - name: "job_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "JobId"
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Job"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "403 response"
          schema:
            $ref: "#/definitions/Error"
      security:
      - API_Authorizer: []
      - api_key: []
    options:
      tags:
      - "Jobs"
      consumes:
      - "application/json"
      parameters:
      - name: "job_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "JobId"
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /organizations/{organization_id}/accounts/{account_id}/jobs/{job_id}/retry:
    post:
      tags:
      - "Jobs"
      description: "Retries the job of the given id"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "job_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "JobId"
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      - in: "body"
        name: "empty"
        required: true
        schema:
          $ref: "#/definitions/empty"
        x-exportParamName: "Empty"
      responses:
        201:
          description: "201 response"
          schema:
            $ref: "#/definitions/empty"
      security:
      - API_Authorizer: []
      - api_key: []
    options:
      tags:
      - "Jobs"
      consumes:
      - "application/json"
      parameters:
      - name: "job_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "JobId"
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /organizations/{organization_id}/accounts/{account_id}/jobs/{job_id}/tasks:
    get:
      tags:
      - "Jobs"
      description: "Returns all the tasks associated with the given job id"
      produces:
      - "application/json"
      parameters:
      - name: "job_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "JobId"
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/JobTask"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "403 response"
          schema:
            $ref: "#/definitions/Error"
      security:
      - API_Authorizer: []
      - api_key: []
    options:
      tags:
      - "Jobs"
      consumes:
      - "application/json"
      parameters:
      - name: "job_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "JobId"
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /organizations/{organization_id}/accounts/{account_id}/jobs/{job_id}/tasks/{task_id}/logs:
    get:
      tags:
      - "Jobs"
      description: "Returns the logs of a specific task associated with the provided\
        \ job"
      produces:
      - "application/json"
      parameters:
      - name: "job_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "JobId"
      - name: "task_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "TaskId"
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/JobTask"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "403 response"
          schema:
            $ref: "#/definitions/Error"
      security:
      - API_Authorizer: []
      - api_key: []
    options:
      tags:
      - "Jobs"
      consumes:
      - "application/json"
      parameters:
      - name: "job_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "JobId"
      - name: "task_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "TaskId"
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /organizations/{organization_id}/accounts/{account_id}/jobs/{job_id}/tasks/{task_id}/steps/{step_id}/retry:
    post:
      tags:
      - "Jobs"
      description: "Retries the specific step in the log of assocaited task of the\
        \ provided job"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "job_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "JobId"
      - name: "task_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "TaskId"
      - name: "step_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "StepId"
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      - in: "body"
        name: "empty"
        required: true
        schema:
          $ref: "#/definitions/empty"
        x-exportParamName: "Empty"
      responses:
        201:
          description: "201 response"
          schema:
            $ref: "#/definitions/empty"
      security:
      - API_Authorizer: []
      - api_key: []
    options:
      tags:
      - "Jobs"
      consumes:
      - "application/json"
      parameters:
      - name: "job_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "JobId"
      - name: "task_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "TaskId"
      - name: "step_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "StepId"
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /organizations/{organization_id}/accounts/{account_id}/log_count:
    get:
      tags:
      - "Logs"
      description: "Returns the log count of the provided account"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Count"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "403 response"
          schema:
            $ref: "#/definitions/Error"
      security:
      - API_Authorizer: []
      - api_key: []
    options:
      tags:
      - "Logs"
      consumes:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /organizations/{organization_id}/accounts/{account_id}/logs:
    get:
      tags:
      - "Logs"
      description: "Returns the logs of the given account"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/empty"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "403 response"
          schema:
            $ref: "#/definitions/Error"
      security:
      - API_Authorizer: []
      - api_key: []
    options:
      tags:
      - "Logs"
      consumes:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /organizations/{organization_id}/accounts/{account_id}/members:
    get:
      tags:
      - "Members"
      description: "Returns the members of the given account"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Member"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "403 response"
          schema:
            $ref: "#/definitions/Error"
      security:
      - API_Authorizer: []
      - api_key: []
    post:
      tags:
      - "Members"
      description: "Creates the members of the given account"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      - in: "body"
        name: "AccountMemberRequest"
        required: true
        schema:
          $ref: "#/definitions/AccountMemberRequest"
        x-exportParamName: "AccountMemberRequest"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Member"
        201:
          description: "201 response"
          schema:
            $ref: "#/definitions/empty"
      security:
      - API_Authorizer: []
      - api_key: []
    options:
      tags:
      - "Members"
      consumes:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /organizations/{organization_id}/accounts/{account_id}/members/{member_id}:
    put:
      tags:
      - "Members"
      description: "Updates the specific member of the account"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "member_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "MemberId"
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      - in: "body"
        name: "AccountMemberRequest"
        required: true
        schema:
          $ref: "#/definitions/AccountMemberRequest"
        x-exportParamName: "AccountMemberRequest"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Member"
        204:
          description: "204 response"
          schema:
            $ref: "#/definitions/empty"
      security:
      - API_Authorizer: []
      - api_key: []
    delete:
      tags:
      - "Members"
      description: "Deletes the specific member of the account"
      parameters:
      - name: "member_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "MemberId"
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        204:
          description: "204 response"
      security:
      - API_Authorizer: []
      - api_key: []
    options:
      tags:
      - "Members"
      consumes:
      - "application/json"
      parameters:
      - name: "member_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "MemberId"
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /organizations/{organization_id}/accounts/{account_id}/policies:
    get:
      tags:
      - "Policies"
      description: "Returns the policies associated with the account"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Policy"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "403 response"
          schema:
            $ref: "#/definitions/Error"
      security:
      - API_Authorizer: []
      - api_key: []
    post:
      tags:
      - "Policies"
      description: "Creates the policy for the given account"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      - in: "body"
        name: "Policy"
        required: true
        schema:
          $ref: "#/definitions/Policy"
        x-exportParamName: "Policy"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Policy"
        201:
          description: "201 response"
          schema:
            $ref: "#/definitions/empty"
      security:
      - API_Authorizer: []
      - api_key: []
    put:
      tags:
      - "Policies"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      - in: "body"
        name: "Policy"
        required: true
        schema:
          $ref: "#/definitions/Policy"
        x-exportParamName: "Policy"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Policy"
        204:
          description: "204 response"
          schema:
            $ref: "#/definitions/empty"
      security:
      - API_Authorizer: []
      - api_key: []
    delete:
      tags:
      - "Policies"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        204:
          description: "204 response"
      security:
      - API_Authorizer: []
      - api_key: []
    options:
      tags:
      - "Policies"
      consumes:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /organizations/{organization_id}/accounts/{account_id}/policies/count:
    get:
      tags:
      - "Policies"
      description: "Returns the count of policies for the specific account"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Count"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "403 response"
          schema:
            $ref: "#/definitions/Error"
      security:
      - API_Authorizer: []
      - api_key: []
    options:
      tags:
      - "Policies"
      consumes:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /organizations/{organization_id}/accounts/{account_id}/policies/tags/keys:
    get:
      tags:
      - "Policies"
      description: "Returns the tag keys of the provided policy of an account"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/TagsKey"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "403 response"
          schema:
            $ref: "#/definitions/Error"
      security:
      - API_Authorizer: []
      - api_key: []
    options:
      tags:
      - "Policies"
      consumes:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /organizations/{organization_id}/accounts/{account_id}/policies/tags/values:
    post:
      tags:
      - "Policies"
      description: "Creates the values of the tags associated with the policies of\
        \ an account"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      - in: "body"
        name: "TagsValueRequest"
        required: true
        schema:
          $ref: "#/definitions/TagsValueRequest"
        x-exportParamName: "TagsValueRequest"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/TagsValue"
        201:
          description: "201 response"
          schema:
            $ref: "#/definitions/empty"
      security:
      - API_Authorizer: []
      - api_key: []
    options:
      tags:
      - "Policies"
      consumes:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /organizations/{organization_id}/accounts/{account_id}/policies/{policy_id}:
    get:
      tags:
      - "Policies"
      description: "Returns the specific policy of an account"
      produces:
      - "application/json"
      parameters:
      - name: "policy_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "PolicyId"
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Policy"
        401:
          description: "401 response"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "403 response"
          schema:
            $ref: "#/definitions/Error"
      security:
      - API_Authorizer: []
      - api_key: []
    put:
      tags:
      - "Policies"
      description: "Updates the specific policy of an account"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "policy_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "PolicyId"
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      - in: "body"
        name: "Policy"
        required: true
        schema:
          $ref: "#/definitions/Policy"
        x-exportParamName: "Policy"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Policy"
        204:
          description: "204 response"
          schema:
            $ref: "#/definitions/empty"
      security:
      - API_Authorizer: []
      - api_key: []
    delete:
      tags:
      - "Policies"
      description: "Deletes the specific policy associated with the given account."
      parameters:
      - name: "policy_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "PolicyId"
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        204:
          description: "204 response"
      security:
      - API_Authorizer: []
      - api_key: []
    options:
      tags:
      - "Policies"
      consumes:
      - "application/json"
      parameters:
      - name: "policy_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "PolicyId"
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "organization_id"
        in: "path"
        description: "Organization ID"
        required: true
        type: "string"
        x-exportParamName: "OrganizationId"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Credentials:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
  /organizations/{organization_id}/accounts/{account_id}/policies/{policy_id}/backups_count:
    get:
      tags:
      - "Policies"
      description: "Returns the backups count of the specific policy of an account"
      produces:
      - "application/json"
      parameters:
      - name: "policy_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "PolicyId"
      - name: "account_id"
        in: "path"
        required: true
[...]
